
:root {
    color-scheme: light; /* both supported */
}

body {
    background-color: #282c34;
    color: #ddd;
}

/* unvisited link */
a:link {
    color: #88f;
}

/* visited link */
a:visited {
    color: #a6d;
}

/* On hover over .contextMenuButton, highlight the text */
.contextMenuButton:hover {
    color: #fff;
}
.contextMenuButton {
    color: #ddd;
}
