
:root {
    color-scheme: light; /* both supported */
}

body {
    background-color: #282c34;
    color: #ddd;
}

/* unvisited link */
a:link {
    color: #88f;
}

/* visited link */
a:visited {
    color: #a6d;
}
